{% extends 'polls/base.html' %}
{% block content %}
<article id="form">
    <h1>Add Product</h1>
    <form method="post">
        {% csrf_token %}
        <div id="form-wrapper">
            <label id="label" for="html">User: </label><br>
            <div id="form-div">{{product_form.user}}</div>

            <label id="label" for="html">Product ID:</label><br>
            <div id="form-div">{{product_form.productid}}</div>

            <label id="label" for="html">Product Name</label><br>
            <div id="form-div">{{product_form.product_name}}</div>

            <label id="label" for="html">Unit Price</label><br>
            <div id="form-div">{{product_form.unit_price}}</div>

            <input id="form-button" type="submit" value="Submit">
        </div>
    </form>
</article>
{%endblock%}