{% extends 'polls/base.html' %}
{% block content %}
<article id="form">
    <h1>Add Sales</h1>
    <form method="post">
        {% csrf_token %}
        <div id="wrapper">
            <label id="label" for="html">User: </label><br>
            <div id="form-div">{{sales_form.user}}</div>

            <label id="label" for="html">Product ID: </label><br>
            <div id="form-div">{{sales_form.prodid}}</div>

            <label id="label" for="html">Store ID: </label><br>
            <div id="form-div">{{sales_form.storeid}}</div>

            <label id="label" for="html">Pub Date: </label><br>
            <div id="form-div">{{sales_form.pub_date}}</div>

            <label id="label" for="html">Units Sold: </label><br>
            <div id="form-div">{{sales_form.units_sold}}</div>

             <input id="form-button" type="submit" value="Submit">
        </div>
    </form>
</article>
{%endblock%}